*.pro.user
*.pyc
.directory
*.o
*.so
*.qmlc
moc_*
qrc_*
.qmake.stash
*.spec.*
*.user*
documentation.list
examples/touch/glacier-components
Makefile
installroot/
RPMS/
debug*.list
CMakeCache.txt
*.qm
*.cmake
CMakeFiles
lipstick
lipstick_autogen
prefix.sh
install_manifest.txt
