[Unit]
Description=Glacier Home UX
Requires=dbus.socket pre-user-session.target
After=pre-user-session.target

[Service]
Type=simple
EnvironmentFile=-/usr/share/lipstick-glacier-home-qt5/nemovars.conf
EnvironmentFile=-/var/lib/environment/compositor/*.conf
ExecStart=/usr/bin/lipstick $LIPSTICK_OPTIONS --systemd
Restart=always
TimeoutStartSec=60

[Install]
WantedBy=user-session.target